input{
  width: 200px;
  /* text-align: center; */
  padding: 10px;
  gap: 10px;
  margin-top: 10px;
}
.man{
border: 2px solid whitesmoke;
padding: 30px;
border: none;
display: grid;
grid-template-columns: repeat(4,1fr);
background-color: aquamarine;
height: 100px;
}
nav a{
  font-weight: bold;
  font-style: italic;
  color: black;
  font-size: 20px;
  padding: 20px;
  text-decoration-line: none;
}
/* .sana{
  background-color: black;
  color: white;
  height: 50px;
 border-top-right-radius: 5px;
 border-bottom-right-radius: 5px;
 
}
.tom{
  height: 30px;

} */
 #akshay{
  background-color: black;
  border: none;
  color: white;
 }
.watch{
 text-decoration: none;
}
/* header{
    
  display: grid; 
  grid-template-columns:30% 70%
      background-color:white;
      display: grid;
      /* grid-template-columns:30% 70%; */

  }
  nav a{
      font-weight: bold;
      font-style: italic;
      color: black;
      font-size: 20px;
      padding: 20px;
      text-decoration-line: none;
      /* padding-top: 15px; */
  }
  .login-button{

  }
  label{
      font-weight: bold;
      padding: 10px;
      color: green;
  }
   .one{
      height: 20px;
      width: 20px;
    }
    .pic2{
      position: absolute;
      right:200px ;
      margin-top: -30px;
      cursor: pointer;
    }
    header{
      display: flex;
    } 
    nav{
      margin-top: 40px;
    }
  /* .boby{
    background-color: antiquewhite;
    margin-left: 10px;
  } */
   .toy{
    background-color: grey;
    height: 50px;
    /* margin: 25px; */
    padding: 25px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: blanchedalmond;

  }
  /* .mom{
    border: 1px solid blanchedalmond;
    /* display: flex; */
    margin: 50px;
    /* gap: 25px; */
  } */ */header{
    
    display: grid; 
    grid-template-columns:30% 70%
        background-color:white;
        display: grid;
        /* grid-template-columns:30% 70%; */

    }
    nav a{
        font-weight: bold;
        font-style: italic;
        color: black;
        font-size: 20px;
        padding: 20px;
        text-decoration-line: none;
        /* padding-top: 15px; */
    }
    .login-button{

    }
    label{
        font-weight: bold;
        padding: 10px;
        color: green;
    }
     .one{
        height: 15px;
        width: 20px;

      }
      /* .pic2{
        position: absolute;
        right:208px ;
        margin-top: -40px;
        cursor: pointer;
      } */
      header{
        display: flex;
      } 
      nav{
        margin-top: 40px;
      }
    /* .boby{
      background-color: antiquewhite;
      margin-left: 10px;
    } */
     .toy{
      background-color: grey;
      height: 50px;
      /* margin: 25px; */
      padding: 25px;
      font-weight: bold;
      font-style: italic;
      font-size: 20px;
      color: blanchedalmond;

    }
    /* .mom{
      border: 1px solid blanchedalmond;
      /* display: flex; */
      margin: 50px;
      /* gap: 25px; */
    } */
    .mouli{
      margin-top: 20px;
    }